<script src="https://cdn.jsdelivr.net/npm/simple-gdpr@1.1.5/dist/simplegdpr.umd.js"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-gdpr@1.1.5/dist/simplegdpr.min.css" rel="stylesheet">

<script>
if (Cookies.get('PRVCY202112') != 'Agree') {
  const notice = new SimpleGDPR({
    title: 'Accept Cookies & Privacy Policy?',
    message: 'このWebサイトでは、訪問や活動に関するデータがクッキー等によって収集されます。閲覧を継続される場合、\
    プライバシーポリシーをご覧いただき同意(Agree)をお願いします',
    link: null,
    icons: true,
    theme: 'light',
    animation: 'fade',
    float: 'bottom-right',
      callback: () => {
      notice.close();
      Cookies.set('PRVCY202112', 'Agree', { expires: 365, path: '/'});
      notice.destroy();
      // Google Analytics 4
      gtag('consent', 'update', {
      'analytics_storage': 'granted'
      });
      gtag('js', new Date());
      gtag('config', 'G-JMY6NSC2KK', { 'anonymize_ip': true });
      },
  });
}
</script>
<div class="disclaimer1">
このサイトの記事は、特別な記載がない限り <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">クリエイティブ・コモンズ BY-NC-SA ライセンス</a>で保護されています</div>

