<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JMY6NSC2KK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('consent', 'default', {
  'ad_storage': 'denied',
  'analytics_storage': 'denied'
  });

  dataLayer.push({
  'event': 'default_consent'
  });

  if (Cookies.get('PRVCY202112') == 'Agree') {
    gtag('consent', 'update', {
    'analytics_storage': 'granted'
    });
  }

  gtag('js', new Date());
  gtag('config', 'G-JMY6NSC2KK',{ 'anonymize_ip': true });
</script>

