//post¥post-body.styl

.post-body {
  font-family: $font-family-posts;
  word-wrap();

  +desktop-large() {
    font-size: $font-size-large;
  }

  +desktop() {
    text-align: unquote(hexo-config('text_align.desktop'));
  }

  +tablet-mobile() {
    text-align: unquote(hexo-config('text_align.mobile'));
  }

  // h1, h2, h3, h4, h5, h6 {
  //   padding-top: 10px;
  //
  //   // Supported plugins: hexo-renderer-markdown-it hexo-renderer-marked
  //   .header-anchor, .headerlink {
  //     border-bottom-style: none;
  //     color: inherit;
  //     float: right;
  //     font-size: $font-size-small;
  //     margin-left: 10px;
  //     opacity: 0;
  //     &::before {
  //       font-family-icons('\f0c1');
  //     }
  //   }


  //   &:hover {
  //     .header-anchor, .headerlink {
  //      opacity: .5;

  //      &:hover {
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }


  h2 {
    position: relative;
    background: #f1f8ff;
    padding: 0.5em 0.5em;
    border-left: solid 2em #5c9ee7;
  }

  h2:before {
    font-family: $font-icons;
    position: absolute;
    content: "\f303";
    padding: 0em;
    color: white;
    font-weight: 900;
    left: -1.35em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  h3 {
    position: relative;
    padding: 0.5em 0.5em;
    color: #39a38d;/* フォント色 */
  }

  h3:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: repeating-linear-gradient(90deg, #3EAF36 0%, #369fad 20%, rgb(171, 97, 80) 50%, rgb(160, 173, 54) 100%);
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  h4 {
      position: relative;
      margin: 2em 0em 0.5em 0.5em;
      padding: 0em 0.5em;
      padding-left: 1.4em;
      line-height: 1.4;
      color:#17b7b1;/*フォント色*/
  }

  h4:before {
    font-family: $font-icons;
    position: absolute;
    content: "\f00c";
    font-weight: 900;
    font-size: 1em;
    left: 0;
    color: #17b7b1;
  }



  .exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }

  iframe, img, video, embed {
    margin-bottom: 20px;
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: 100%;

    iframe, object, embed {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  
  ul {
    border: solid 2px skyblue;
    border-radius: 5px;
    margin 1.5em 0;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
  }

  ul li {
    line-height: 1.5;
    padding: 0.5em 1.2em;
    list-style-type: none!important;
  }

  ul li:before {
    font-family: $font-icons;
    content: "\f138";/*アイコンの種類*/
    font-size: $font-size-medium;
    font-weight: 900;
    position: absolute;
    left : 0.8em;/*左端からのアイコンまでの距離*/
    color: skyblue;/*アイコン色*/
  }
}

// tags¥tables.style

th, td {
  border: 1px solid $table-border-color;
  border-bottom: 3px solid $table-cell-border-bottom-color;
}

th {
  font-weight: 700;
  padding-bottom: 10px;
  background: #f1f8ff;
}

td {
  border-bottom-width: 1px;
}

//Additional style

.onepoint {
  position: relative;
  font-family: $font-family-headings;
  font-size: $font-size-larger;
  font-weight: bold;/* フォント太さ */ 
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.8;
  padding: 0.5em 0.5em;
  margin: 4em 0 1em;
}

.onepoint:after {
  /*タブ*/
  position: absolute;
  font-family: $font-icons;
  font-size: $font-size-medium;
  font-weight: 900;
  content: "\f0a7\ POINT";
  background: #80c8d1;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 5px 7px 3px;
  line-height: 1;
  letter-spacing: 0.05em;
}


body {
  background: var(--body-bg-color);
  color: var(--text-color);
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-height: 100%;
  position: relative;
  transition: all $transition-ease;

  a {
  // border-bottom: 1px solid $link-decoration-color;
  border-bottom: 1px solid white;
  color: var(--link-color);
  outline: 0;
  text-decoration: none;
  word-wrap();

  &:hover {
    border-bottom-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
  }
}

h1, h2, h3, h4, h5, h6 {
  // font-family: $font-family-headings;
  font-family: "Font Awesome 5 Free",$font-family-headings;
  font-weight: bold;
  line-height: 1.5;
  // margin: 20px 0 15px;
  // margin: 20px 0 15px;
  margin: 50px 0 20px;

}

// from /next/source/css/_common/components/post/post-header.styl 
.posts-expand .post-title-link {
  border-bottom: 0;
  // color: var(--link-color);
  color: var(--text-color);
  display: inline-block;
  position: relative;

  &::before {
    // background: var(--link-color);
    background: var(--text-color);
    bottom: 0;
    content: '';
    height: 2px;
    // Fix issue #75
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform $transition-ease;
    width: 100%;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  .fa-external-link-alt {
    font-size: $font-size-small;
    margin-left: 5px;
  }
}

// from ./new-technology/themes/next/source/css/_common/scaffolding/tags
// label.styl

.post-body .label {
  color: $text-color;
  padding: 0 2px;

  for $type in $note-types {
    &.{$type} {
      // background: $label[$type];
      background: linear-gradient(transparent 80%, #ff99ff 80%);
    }
  }
}
