.post-body .label {
  color: $text-color;
  padding: 0 2px;

  for $type in $note-types {
    &.{$type} {
      // background: lookup('$label-' + $type);
      // background: linear-gradient(transparent 60%, lookup('$label-' + $type) 60%);
      background: linear-gradient(transparent 60%, #ff99ff 60%);
    }
  }
}
